# locally available packages are linked to node_modules 
# instead of being downloaded from the registry. 
link-workspace-packages = true
shared-workspace-shrinkwrap = true
shared-workspace-lockfile = true